<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h5><b>Productos destacados</b></h5>
        </div>
        <div class="col-6 breadcrumbs">
            <nav aria-label="breadcrumbs">
                <ol class="p-0">
                    <li>
                        <a>Todos los productos</a>
                        <span>/</span>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Cocina</a>
                        <span>/</span>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Productos destacados</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row d-flex justify-content-center p-0">
        <div class="col-2 d-flex align-items-center justify-content-end">
            <button class="showcase-button">
                <b><span class="material-icons">navigate_before</span></b>
            </button>
        </div>
        <div class="col-8 d-flex align-items-center">
            <ul id="section" class="item-section d-flex align-items-center p-0">
                <li *ngFor="let item of items; index as i;" class="item-list">
                    <div class="m-3">
                        <mat-card [ngClass]="{'point': showBtn === true}" class="item-card" (mouseenter)="showBtn = true" (mouseleave)="showBtn = false">
                            <img [src]="item.image" alt={{item.description}} class="item-img" >
                            <button class="add-button only-show-on-hover" (click)='addItemsToCart(item)'>Añadir</button>
                            <mat-card-content>
                                <ngb-rating [rate]=5 [max]=5 [readonly]="true"></ngb-rating>
                            </mat-card-content>
                        </mat-card>
                        <div class="item-description">
                            <p>{{getTitle(item.title)}}</p>
                            <p><b>{{item.price}}€</b></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-start">
            <button class="showcase-button">
                <b><span class="material-icons">navigate_next</span></b>
            </button>
        </div>
    </div>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>