<div class="container">
    <div class="row">
        <div class="col-6">
            <h4><b>Productos destacados</b></h4>
        </div>
        <div class="col-6 breadcrumbs">
            <nav aria-label="breadcrumbs">
                <ol>
                    <li>
                        <a>Todos los productos</a>
                        <span>/</span>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Cocina</a>
                        <span>/</span>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Productos destacados</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div>
    </div>
</div>
